@media (max-width: 767px) {
  .body-content {
    padding-top: 50px;
  }
}

.generate-meme-button {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 700px;
}

.create-new-meme-button {
  margin: auto;
  margin-bottom: 20px;
  display: block;
  width: 700px;
}
