<div class="grid">
  <img *ngFor="let meme of memes" class="memes" [src]="meme.image" [alt]="meme.name" (click)="onTemplateIsSelected($event)" />
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
  <img src="https://picsum.photos/400" class="memes"/>
</div>
