.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 30px;
  justify-items: center;
  align-items: center;
  margin-bottom: 100px;
}

.memes {
  width: 100%;
  height: auto;
  cursor: pointer;
}
