.upload-image {
  margin: 20px 0;
}

.head {
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  margin: 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*canvas {
  border: 1px dashed black;
}*/

.canvas-container {
  padding: 0;
  margin: auto;
  display: block;
  width: 700px;
}
