<div class="canvas-container" *ngIf="!displayMemePreview">
  <div class="btn-toolbar" role="toolbar" *ngIf="showToolbar">
    <div class="btn-group mr-2" role="group">
      <button type="button" class="btn btn-outline-primary" (click)="onAddText()">Add text</button>
      <button type="button" class="btn btn-outline-danger" (click)="onDeleteText()">Delete text</button>
    </div>

    <div class="btn-group mr-2" role="group">
      <button type="button" class="btn btn-outline-primary" (click)="onGenerateAndDisplayMeme()">Generate Meme</button>
    </div>
  </div>

  <canvas id="canvas" class="canvas" width="700" height="500"></canvas>
</div>

<div class="meme-preview" *ngIf="displayMemePreview">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="group">
      <button type="button" class="btn btn-outline-primary" (click)="onCreateNewMeme()">Create a new Meme</button>
    </div>
  </div>

  <img id="image" class="preview-generated-meme" [src]="generateMeme()" />
</div>
