canvas {
  /*border: 1px dashed black;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.canvas-container {
  padding: 0;
  margin: auto;
  display: block;
  width: 700px;
}

.meme-preview {
  padding: 0;
  margin: auto;
  display: block;
  width: 700px;
}

img {
  margin: 20px 0;
}
